#portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;

    width: 60vw;
}

.button.portfolio {
    margin-top: 2vh;
}

.heatmap {
    padding: 1.5rem;
}