#getInTouch {
    margin-top: 2vw;
}

#getInTouch .title {
    font-size: 4vw;
    margin: 0.5vw 0 1.2vw;
}

#getInTouch .subtitle .mantine-InputWrapper-label {
    font-size: clamp(16px, 1.5vw, 22px);
}

#getInTouch .subtitle input,
#getInTouch .subtitle textarea {
    font-size: clamp(14px, 1.2vw, 18px);
}

#getInTouch .subtitle input::placeholder,
#getInTouch .subtitle textarea::placeholder {
    font-size: clamp(13px, 1.1vw, 16px);
}

@media (max-width: 768px) {
    #getInTouch .title {
        font-size: 12vw;
    }

    #getInTouch .subtitle .mantine-InputWrapper-label {
        font-size: 5vw;
    }

    #getInTouch .subtitle input,
    #getInTouch .subtitle textarea {
        font-size: 4vw;
    }

    #getInTouch .subtitle input::placeholder,
    #getInTouch .subtitle textarea::placeholder {
        font-size: 4vw;
    }

    .button {
        font-size: 5vw;
    }
}