.header {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'ByteBounce';
}

.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: var(--mantine-spacing-md) 20vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}