@font-face {
  font-family: 'ByteBounce';
  src: url("../public/fonts/ByteBounce.ttf");
}

@font-face {
  font-family: 'UbuntuMono-R';
  src: url("../public/fonts/UbuntuMono-R.ttf");
}

::-webkit-scrollbar {
  display: none;
}

#content {
  font-family: 'ByteBounce';
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

h2 {
  font-size: 4vw;
  margin: 0
}

.button {
  background-color: #3E7CB1;
  font-size: 1.5vw;

  transition: background-color 180ms ease, transform 180ms ease;
}

.button:hover {
  background-color: #2a72b1;
  transform: scale(1.02);
}